/* Define CSS variables for easy maintenance */
:root {

    /* --primary-color: #0056b3; */
    /* --secondary-color: #ff7f50; */
    --bg-color: #e1dbcb;
    --bg2-color: #3c6e7b;
    --bg3-color: #d5d8dc;
    --text-color: #333;
    --font-family: 'Arial', sans-serif;
    --container-width: 90%;
    --max-width: 1200px;

    --primary-color: #e1dbcb;
    /* اللون الأساسي */
    --secondary-color: #5f4b32;
    /* اللون الداكن */
    --accent-color: #c98474;
    /* اللون المميز */
    --light-color: #f5f1e6;
    /* اللون الفاتح */
    --contrast-color: #2a6478;
    /* اللون الأزرق للتوازن */
    --white-color: #ffffff;
}

/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#google-form.contact-form body div div form {
    direction: rtl !important;
}

html,
body {
    height: 100%;
    /* تأكد من أن الـ body و html يمتدان لملء الشاشة بالكامل */
    display: flex;
    flex-direction: column;
}

body {
    font-family: var(--font-family);
    direction: rtl;
    height: 100vh;
    /* تمثل 100% من طول الشاشة */
    background-color: var(--primary-color);
    color: var(--secondary-color);
}


/* تأكد من أن الـ main يأخذ مساحة الصفحة المتاحة */
main {
    flex: 1;
    /* تجعل الـ main يتمدد لملء المساحة المتبقية بين الـ header والـ footer */
    padding: 20px;
}

/* Container for layout */
.container {
    width: var(--container-width);
    /* عرض الحاوية هو 90% من عرض الصفحة */
    max-width: var(--max-width);
    /* الحد الأقصى لعرض الحاوية */
    margin: 0 auto;
    /* محاذاة الحاوية في وسط الصفحة */
    padding: 20px;
    /* مسافة داخلية حول المحتوى */
}

.header-container {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
}

/* Header */
.header {
    padding: initial;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    /* 10% من ارتفاع الشاشة */
    min-height: 90px;
    background-color: var(--light-color);
}

.header h1 {
    color: var(--secondary-color);
    font-size: 3rem;
}

.header p,
.header a {
    color: var(--accent-color);
    font-size: 1.2rem;
}

.header-container.container {
    padding: initial;
}

.logo img {
    max-height: 80px;
}

#hr {
    display: none;
    background-color: var(--primary-color);
    border: none;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
    transition: transform 0.3s ease-in-out;
    /* Smooth transition for mobile menu */
}

.nav-list li {
    margin-left: 20px;
}

.nav-list a {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 5px;
    font-weight: 600;
}

.nav-list a:hover {
    color: var(--secondary-color);
}

#hr.show {
    display: block;
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 90px;
    z-index: 10000;
}

/* Burger Menu Styles */
.burger {
    display: none;
    /* Hide burger by default */
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
}

.burger span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    ;
    margin: 0;
}

/* Active state (burger turns into X) */
.burger.active span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.burger.active span:nth-child(2) {
    opacity: 0;
}

.burger.active span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}


/* Banner Section */
.banner {
    background: url('../images/manif.jpg') no-repeat center center/cover;
    background-position: center;
    background-color: var(--bg-color);
    /* احتياطي في حال عدم تحميل الصورة */
    color: var(--white-color);
    text-align: center;
    padding: 150px 0;
    position: relative;
    height: 40vh;
    /* 50% من ارتفاع الشاشة */
}

.banner-content {
    position: relative;
    z-index: 1;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* لزيادة وضوح النص */
    z-index: 0;
}

.banner-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: var(--secondary-color);
    color: var(--white-color);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: var(--primary-color);
}

.home-container {
    justify-content: space-around;
}

/* Layout */
.main-section {
    display: flex;
    gap: 20px;
}

.section-title {
    font-size: 1rem;
    color: var(--bg2-color);
    margin: 0px;
    text-align: right;
}

.section-title {
    font-size: 1.2rem;
    margin: 0 0 5px 0;
    padding: 0;
}

h2.section-title.section-title-article {
    position: absolute;
    top: 5px;
}

/* Latest News Section */
.news-section {
    flex: 2;
    background-color: #fff;
    padding: 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}

.news-carousel {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
    height: 100%;
}

.news-item {
    min-width: 100%;
    position: relative;
    aspect-ratio: 16 / 9;
    /* Fixing the aspect ratio to 16:9 */
    display: flex;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 8px;
}

.news-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures the image fills the container */
    border-radius: 8px;
    /* border-bottom: 4px solid #c98474; لون مميز للفصل بين الصورة والمحتوى */
}

.news-item-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    /* Transparent background */
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
}

.news-item-content h3 {
    margin-bottom: 10px;
    font-size: 1.3rem;
    color: #5f4b32;
}

.news-item-content p {
    margin-bottom: 0;
    font-size: 1rem;
    color: var(--contrast-color);
    /* اللون الأزرق للتوازن */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-item-content p:hover,
.news-item-content h3:hover {
    color: #c98474;
    /* تغيير اللون عند التمرير لإضافة تفاعل */
}

.news-carousel-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.news-carousel-controls button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

/* Articles Section */
.articles-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: var(--light-color);
    /* نفس خلفية news-section لتوحيد التصميم */
    /* لون الخلفية */
    padding: 15px;
    border-radius: 8px;
    max-height: 400px;
    /* ارتفاع ثابت للحاوية */
    overflow-y: auto;
    /* تفعيل التمرير العمودي عند الحاجة */
    position: relative;
}

.articles-section h2 {
    color: var(--secondary-color);
    /* اللون الداكن للعناوين */
    font-size: 1.5rem;

}

.article-item {
    display: flex;
    gap: 10px;
    background-color: var(--white-color);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 100%;
    max-height: 90px;
    min-height: 90px;
    overflow: hidden;
}

.article-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--accent-color);
    /* نفس اللون المميز من news-section */
}

.article-item-content {
    /* overflow: auto; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.article-item-content h3 {
    font-size: 1rem;
    color: var(--contrast-color);
    /* نفس اللون للعناوين */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.article-item-content h3:hover {
    text-decoration: underline;
}
.article-item-content a {
    color: #5f4b32;
    font-size: 1rem;
}

.article-item-content p, .other-article-item  p {
    color: var(--accent-color);
    font-size: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-item-content .article-item-content:hover {
    color: #c98474;
    /* تغيير اللون عند التمرير لزيادة التفاعل */
}

/* نافذة الفيديوهات */
.video-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* لتمركز المحتوى عمودياً */
    padding: 40px 20px;
    /* إضافة تباعد داخلي حول الفيديوهات */
    background-color: var(--light-color);
    /* خلفية فاتحة */
    border-radius: 12px;
    /* جعل زوايا الحاوية مدورة قليلاً */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* إضافة ظل خفيف لإبراز الحاوية */
    width: 100%;
    max-width: 800px;
    /* تحديد عرض الحاوية الأقصى */
    margin: 40px auto;
    /* محاذاة الحاوية في مركز الصفحة مع مسافة علوية وسفلية */
    /* text-align: center; */
}

/* الفيديو الرئيسي */
.main-video {
    /* width: -webkit-fill-available; */
    width: 100%;
    max-width: 800px;
    margin: 0 auto 20px;
    /* الفيديو في المنتصف */
}

/* الفيديو الديناميكي بنسبة 16:9 */
.video-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    /* نسبة 16:9 */
    border-radius: 8px;
}

.main-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* ظل خفيف للفيديو */
}

/* قائمة الفيديوهات المصغرة */
.video-thumbnails {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    /* السماح بالتفاف الفيديوهات المصغرة إذا لم تتوفر المساحة */
}

.thumbnail {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.thumbnail img {
    width: 150px;
    height: 100px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.thumbnail img:hover {
    transform: scale(1.1);
    /* تكبير الصور المصغرة عند المرور */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    /* تكثيف الظل عند المرور */
}

.thumbnail:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.video-section h2 {
    color: #5f4b32;
    /* اللون الداكن للعناوين */
    font-size: 2rem;
    margin-bottom: 30px;
}

/* استجابة لمختلف الشاشات */
@media (max-width: 768px) {

    .video-section {
        width: 100%;
        /* تغطية عرض الشاشة بالكامل على الشاشات الصغيرة */
        padding: 10px;
        /* إضافة مسافة داخلية لتجنب المظهر المزدحم */
    }

    .main-video {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        /* زيادة المسافة بين الفيديو الرئيسي والصور المصغرة */
    }

    .main-video iframe {
        width: 100%;
        height: 100%;
    }

    .thumbnail img {
        width: 100px;
        height: 70px;
    }

}



/* Info Sections */
.info-sections {
    /* padding: 30px 80px; */
    min-height: 55vh;
    /* 55%  أقل ارتفاع للشاشة */

}

.info-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;

}

.info-box {
    position: relative;
    width: 100%;
    /* عرض كامل الحاوية */
    max-width: 300px;
    /* أقصى عرض للحاوية */
    aspect-ratio: 1 / 1;
    /* مربع بنسبة 3:3 (مربع) */
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--light-color);
}

/* Text content takes the remaining 50% */
.info-box-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: var(--light-color);
    text-align: center;
    padding: 10px;
    opacity: 1;
    /* النص غير مرئي افتراضيًا */
    transition: opacity 0.3s ease-in-out;
    /* تأثير عند ظهور النص */
}

/* إظهار النص عند التمرير فوق info-box */
.info-box:hover .info-box-content {
    opacity: 1;
    /* إظهار النص عند التمرير */
}

.info-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* تنسيق النص داخل info-box */
.info-box-content h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    color: var(--secondary-color);
}

.info-box-content p {
    margin-top: 10px;
    font-size: 1.2rem;
    /* color: var(--white-color); */
}

.btn-secondary {
    background-color: var(--accent-color);
    color: var(--light-color);
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-secondary:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/* Footer Styles */
.footer {
    background-color: var(--secondary-color);
    color: var(--light-color);
    padding: 40px 0;
    text-align: center;
    margin-top: auto;
    /* تجعل الفوتر يلصق في الأسفل */

}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: var(--max-width);
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer-section h4 {
    color: var(--light-color);
    /* لون العناوين */
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.footer-column p {
    color: var(--primary-color);
    /* لون النصوص الثانوية */
    font-size: 1rem;
}

.footer-section p,
.footer-section ul,
.footer-section li {
    margin: 0;
    padding: 0;
    list-style: none;
    color: var(--accent-color);
}

.footer-section ul {
    padding: 10px 0 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: var(--accent-color);
    /* لون الروابط */
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: var(--contrast-color);
    /* لون الروابط عند التمرير */
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;

    color: var(--light-color);
    /* لون الأيقونات الاجتماعية */
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.social-icons img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.2);
}

/* Footer Bottom */
.footer-bottom {
    background-color: var(--primary-color);
    padding: 10px 0;
    margin-top: 20px;
    color: var(--contrast-color);
}

.footer-bottom p {
    margin: 0;
    font-size: 0.9rem;
}


/* Responsive Design */

@media (max-width: 992px) {
    body {
        height: auto;
    }

    .info-sections {
        padding: 15px 30px;
        height: auto;
    }

    .info-box {
        /* width: 48%; */
        /* 2 أعمدة في الشاشات المتوسطة */
        /* height: 414px; */
    }

    .info-box-container {
        justify-content: center;
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .header {
        height: auto;
    }

    .container {
        flex-direction: row;
        justify-content: space-between;
        height: auto;
    }

    .nav-list {
        display: none;
        /* Hide nav list by default on small screens */
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #e1dbcb;
        padding: 10px 0;
        /*box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);*/
    }


    /* Show the nav list when "show" class is added */
    .nav-list.show {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 90px;
        right: 0;
        left: 0;
        background-color: var(--light-color);
        width: 100%;
        text-align: center;
        z-index: 1000;
    }

    .nav-list.show li {
        padding: 10px;
        margin: 5px 20px;
        border-radius: 5px;
    }

    .nav-list.show li:hover {
        background-color: var(--bg-color);
    }

    .nav-list.show li:hover a {
        color: var(--secondary-color);
    }



    .burger {
        display: flex;
        /* Show burger menu icon */
        /* position: absolute;
        top: 10px;
        right: 10px; */
        z-index: 100;
        /* Make sure the burger menu is on top */
    }

    .logo img {
        margin-left: 10px;
        max-height: 80px;
        margin: 0;
        padding: 0;
    }

    .banner-content h1 {
        font-size: 2rem;
    }

    /* last news */
    .main-section {
        flex-direction: column;
        /* Stack items vertically on small screens */
    }

    .news-section {
        flex: 1;
        background-color: #f5f1e6;
        /* لون الخلفية المتناغم */
        position: relative;
    }

    .articles-section {
        flex: 1;
    }

    .news-item-content {
        max-height: 40%;
        padding: 5px;
    }

    .news-section h2 {
        font-size: 2rem;
        margin-bottom: 30px;
        position: absolute;
        top: -15px;
        z-index: 1000000;
    }

    .news-item-content p {
        font-size: 0.8rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* تحديد عدد السطور */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        /* إضافة النقاط الثلاث (...) إذا تم القص */
    }

    .info-sections {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .info-box {
        max-width: 100%;
        /* توسيع المربع ليغطي العرض الكامل للشاشة */
    }

    .info-box-container {
        margin: 0 15px;
    }

    /* Responsive Design for Footer */
    .footer .container {
        flex-direction: column;
        align-items: center;
        align-items: center;
    }

    .footer-section {
        margin: 20px 0;
        text-align: center;
    }

    .social-icons a {
        margin: 10px;
    }


}

/* Responsive Design for Mobile */
@media screen and (max-width: 450px) {
    .news-item-content {
        max-height: 33%;
        padding: 5px;
    }

    .news-item-content h3 {
        font-size: .7rem;
        margin: 0px;
        padding: 2px;
    }

    .news-item-content p {
        font-size: 0.7rem;
        -webkit-line-clamp: 1;
        /* تحديد عدد السطور */
    }

    .container {
        width: 98%;
    }

    .header-container.container {
        width: 94%;
    }

    .article-item-content h3 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        
    }
}